################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IMSDatabase/IMSDatabase.dbmdl
/IMSDatabase/IMSDatabase.jfm
/IMS.DataAccess/obj/Debug/IMS.DataAccess.csprojAssemblyReference.cache
